# This file contains all the files/directories that should
# be ignored (i.e. not included) in the final packaged extension.

# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**

# Ignore build artifacts
node_modules

# Ignore source code and test files
src/**
test_fixture/**

# Ignore Misc
example_files
scripts
.mocharc.json
**/.gitignore
**/tsconfig.json
**/.eslintingore
**/.eslintrc.json
**/*.map
**/*.ts
**/webpack.config.js
**/shared.webpack.config.js
**/.prettierignore
